<a href="https://colab.research.google.com/github/avanish-fullstack/HandsOnML/blob/master/Kaggle_titanic_10_25_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (2).csv
Saving train.csv to train (2).csv

In [0]:
import  pandas as pd
import  numpy as np
import  matplotlib.pyplot as plt

In [0]:
train_df = pd.read_csv('train.csv')

In [5]:
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
train_df = train_df.dropna(subset=  ["Embarked"])

In [7]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    889 non-null int64
Survived       889 non-null int64
Pclass         889 non-null int64
Name           889 non-null object
Sex            889 non-null object
Age            712 non-null float64
SibSp          889 non-null int64
Parch          889 non-null int64
Ticket         889 non-null object
Fare           889 non-null float64
Cabin          202 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

DATA EXPLORATION

In [8]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    889 non-null int64
Survived       889 non-null int64
Pclass         889 non-null int64
Name           889 non-null object
Sex            889 non-null object
Age            712 non-null float64
SibSp          889 non-null int64
Parch          889 non-null int64
Ticket         889 non-null object
Fare           889 non-null float64
Cabin          202 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 90.3+ KB

In [0]:
train_df_c1 = train_df.drop(["PassengerId", "Name" , "Cabin","Ticket"], axis =1 )

In [10]:
train_df_c1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Survived    889 non-null int64
Pclass      889 non-null int64
Sex         889 non-null object
Age         712 non-null float64
SibSp       889 non-null int64
Parch       889 non-null int64
Fare        889 non-null float64
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(2)
memory usage: 62.5+ KB

In [0]:
X =  train_df_c1.drop(["Survived"] , axis =1)

In [0]:
y = train_df_c1["Survived"]

In [13]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [0]:
# Endode Plcass

In [0]:
X_pclass = pd.get_dummies(X["Pclass"] , drop_first=  True)

In [0]:
X_sex = pd.get_dummies(X["Sex"], drop_first = True)

In [0]:
X["Age"].fillna((X["Age"].mean()), inplace = True )

In [0]:
X_new =  pd.concat([X , X_pclass , X_sex] , axis = 1)

In [0]:
X_new.drop(["Pclass" , "Sex"], axis = 1 , inplace = True)

In [20]:
X_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 889 entries, 0 to 890
Data columns (total 8 columns):
Age         889 non-null float64
SibSp       889 non-null int64
Parch       889 non-null int64
Fare        889 non-null float64
Embarked    889 non-null object
2           889 non-null uint8
3           889 non-null uint8
male        889 non-null uint8
dtypes: float64(2), int64(2), object(1), uint8(3)
memory usage: 44.3+ KB

In [21]:
X_new.head()

    Age  SibSp  Parch     Fare Embarked  2  3  male
0  22.0      1      0   7.2500        S  0  1     1
1  38.0      1      0  71.2833        C  0  0     0
2  26.0      0      0   7.9250        S  0  1     0
3  35.0      1      0  53.1000        S  0  0     0
4  35.0      0      0   8.0500        S  0  1     1

In [22]:
y.shape

(889,)

In [0]:
X_embarked = pd.get_dummies(X_new["Embarked"] , drop_first = True)

In [0]:
X_new = pd.concat([X_new,X_embarked] , axis = 1)

In [30]:
X_new.head()

    Age  SibSp  Parch     Fare  2  3  male  Q  S
0  22.0      1      0   7.2500  0  1     1  0  1
1  38.0      1      0  71.2833  0  0     0  0  0
2  26.0      0      0   7.9250  0  1     0  0  1
3  35.0      1      0  53.1000  0  0     0  0  1
4  35.0      0      0   8.0500  0  1     1  0  1

In [0]:
X_new.drop(["Embarked"], axis = 1 , inplace = True)

In [0]:
from sklearn.preprocessing  import StandardScaler

In [0]:
sc = StandardScaler()

In [0]:
X_transformed = sc.fit_transform(X_new)

In [34]:
X_transformed

array([[-5.89619855e-01,  4.31350239e-01, -4.74325852e-01, ...,
         7.35342031e-01, -3.07940881e-01,  6.16793955e-01],
       [ 6.44847987e-01,  4.31350239e-01, -4.74325852e-01, ...,
        -1.35991138e+00, -3.07940881e-01, -1.62128697e+00],
       [-2.81002895e-01, -4.75199081e-01, -4.74325852e-01, ...,
        -1.35991138e+00, -3.07940881e-01,  6.16793955e-01],
       ...,
       [-5.48213849e-16,  4.31350239e-01,  2.00611934e+00, ...,
        -1.35991138e+00, -3.07940881e-01,  6.16793955e-01],
       [-2.81002895e-01, -4.75199081e-01, -4.74325852e-01, ...,
         7.35342031e-01, -3.07940881e-01, -1.62128697e+00],
       [ 1.81922546e-01, -4.75199081e-01, -4.74325852e-01, ...,
         7.35342031e-01,  3.24737656e+00, -1.62128697e+00]])

In [0]:
# Train Model

In [0]:
from  sklearn.ensemble  import RandomForestClassifier

In [0]:
clf = RandomForestClassifier(n_estimators=100, max_depth=2,random_state=0)

In [45]:
clf.fit(X_transformed, y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=2, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [0]:
# Predict and evaluate
y_pred = clf.predict(X_transformed)

In [0]:
from sklearn.metrics import confusion_matrix

In [0]:
cm = confusion_matrix(y , y_pred)

In [49]:
cm

array([[513,  36],
       [145, 195]])

In [0]:
from sklearn.metrics import classification_report

In [53]:
print(classification_report(y, y_pred))

              precision    recall  f1-score   support

           0       0.78      0.93      0.85       549
           1       0.84      0.57      0.68       340

    accuracy                           0.80       889
   macro avg       0.81      0.75      0.77       889
weighted avg       0.80      0.80      0.79       889

Predict Test set data

In [0]:
test_data = pd

In [54]:
y_test_pred = clf.predict(X_test)

NameError: ignored